.main {
  margin: 0% 5%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  text-align: center;
  align-content: center;

}

.progrece {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-content: center;
}

.progrece div {
  margin: 5px;
}

.imageCards {
  border-radius: 5px;
}

.table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.card {
  text-align: center;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}